<div id="container">
	<!-- product list -->
	<div class="row">
		<div class="col-sm-3">
	      The header
	    </div>

	    <div class="col-sm-3">
	      Product 1
	    </div>
	    <div class="col-sm-3">
	      Product 2
	    </div>
	    <div class="col-sm-3">
	      Product 3
	    </div>

	</div>


	Use different color for different review type
	
	<div class="row">
		<div class="col-sm-3">1.1</div>
		<div class="col-sm-3">review 1.1 for prod 1</div>
		<div class="col-sm-3">review 1.1 for prod 2</div>
		<div class="col-sm-3">review 1.1 for prod 3</div>
	</div>

	<div class="row">
		<div class="col-sm-3">1.2</div>
		<div class="col-sm-3">review 1.2 for prod 1</div>
		<div class="col-sm-3">review 1.2 for prod 2</div>
		<div class="col-sm-3">review 1.2 for prod 3</div>
	</div>

	<div class="row">
		<div class="col-sm-3">1.3</div>
		<div class="col-sm-3">review 1.3 for prod 1</div>
		<div class="col-sm-3">review 1.3 for prod 2</div>
		<div class="col-sm-3">review 1.3 for prod 3</div>
	</div>


	TODO, the alignment error

	<!-- each group of review -->
	<div class="row">
		<div class="col-sm-1">
	    	The header 1
	    </div>
	    <div class="col-sm-11">
	    	<!-- each sub category -->
	    	<div class="row">
	    		<div class="col-sm-2">1.1</div>
	    		<div class="col-sm-3">review 1.1 for prod 1</div>
	    		<div class="col-sm-3">review 1.1 for prod 2</div>
	    		<div class="col-sm-3">review 1.1 for prod 3</div>
	    	</div>

	    	<div class="row">
	    		<div class="col-sm-3">1.2</div>
	    		<div class="col-sm-3">review 1.2 for prod 1</div>
	    		<div class="col-sm-3">review 1.2 for prod 2</div>
	    		<div class="col-sm-3">review 1.2 for prod 3</div>
	    	</div>

	    	<div class="row">
	    		<div class="col-sm-3">1.3</div>
	    		<div class="col-sm-3">review 1.3 for prod 1</div>
	    		<div class="col-sm-3">review 1.3 for prod 2</div>
	    		<div class="col-sm-3">review 1.3 for prod 3</div>
	    	</div>

	    </div>
	</div>

	<div class="row">
		<div class="col-sm-1">
	    	The header 2
	    </div>
	    <div class="col-sm-11">
	    	<!-- each sub category -->
	    	<div class="row">
	    		<div class="col-sm-2">2.1</div>
	    		<div class="col-sm-9">review 2.1</div>
	    	</div>

	    	<div class="row">
	    		<div class="col-sm-2">2.2</div>
	    		<div class="col-sm-9">review 2.2</div>
	    	</div>
	    	
	    </div>
	</div>

</div>