$var jsfiles:

<div class="container" style="height:420px;">
  <img src="static/imgs/homepageimage.png" width="1050"/>
</div>

<div class="container" style="height:200px;">
  <div class="row">
    <div class="col-sm-3" style="background-color: #F4A3A3; height:200px;">
      How to identify the right memory?
      <ul>
        <li>
          The Assistant toolkit automatically
          detects the current system config
          and makes suggestion on upgrading options.
        </li>
        <li>
          Upgrading by computer model is for a fresh upgrading,
          where the system config is known.
        </li>
        <li>
          Manual selection is for advanced users.
        </li>
      </ul>
    </div>
    <div class="col-sm-3" style="background-color: #D9F4A3; height:200px;">
      How do I choose a brand?
      <ul>
        <li>
          For compatibility, it is highly suggested to buy
          the same brand and same model as the existing memory.
        </li>
        <li>
          The second issues of concern is the defective rate
          ,durability and stability.
        </li>
        <li>
          It is suggested buy from big brands.
        </li>
      </ul>
    </div>
    <div class="col-sm-3" style="background-color: #A3F4D9; height:200px;">

      What to notice about the seller?
      <ul>
        <li>Some sellers tends to overstate the compatibility.</li>
        <li>Some sellers send the memory of another specification.</li>
        <li>The delivery speed is really sloooow for some sellers.</li>
        <li>Some sellers are never reachable after the delivery.</li>
      </ul>
    </div>
    <div class="col-sm-3" style="background-color: #A3A3F4; height:200px;">
      Start the upgrading journey!
      <ul>
        <li>Download Assistant Toolkit</li>
        <li>Contact Me: <a href="mailto:xingwang@cse.tamu.edu">Email</a></li>
      </ul>
    </div>
  </div>
</div>

<!--
<div >
	test index page<br>test index page<br>test index page<br>test index page<br>test index page<br>

	test index page<br>test index page<br>test index page<br>test index page<br>test index page<br>
</div>-->

<!--
test index page<br>test index page<br>test index page<br>test index page<br>test index page<br>

test index page<br>test index page<br>test index page<br>test index page<br>test index page<br>
test index page<br>test index page<br>test index page<br>test index page<br>test index page<br>

test index page<br>test index page<br>test index page<br>test index page<br>test index page<br>
test index page<br>test index page<br>test index page<br>test index page<br>test index page<br>

test index page<br>test index page<br>test index page<br>test index page<br>test index page<br>-->
