<div class="container">
	TODO, Image
</div>

<div class="container" style="height:300px;">
  <div class="row">
    <div class="col-sm-3">
      How to identify the right memory?
    </div>
    <div class="col-sm-3">
      What to notice about the seller?
    </div>
    <div class="col-sm-3">
      TODO
    </div>
    <div class="col-sm-3">
      TODO
    </div>
  </div>
</div>


<div >
	test index page<br>test index page<br>test index page<br>test index page<br>test index page<br>

	test index page<br>test index page<br>test index page<br>test index page<br>test index page<br>
</div>
<!--
test index page<br>test index page<br>test index page<br>test index page<br>test index page<br>

test index page<br>test index page<br>test index page<br>test index page<br>test index page<br>
test index page<br>test index page<br>test index page<br>test index page<br>test index page<br>

test index page<br>test index page<br>test index page<br>test index page<br>test index page<br>
test index page<br>test index page<br>test index page<br>test index page<br>test index page<br>

test index page<br>test index page<br>test index page<br>test index page<br>test index page<br>-->