<div class="container">
  <div class="row">
  	feedback on selection
  </div>

  <div class="row">

    <div class="col-sm-3">
      Faceted data filtering
    </div>

    <div class="col-sm-3">
      First column
      <div style="height:200px;">
        <a href="">
          <img src=""/>
          <div>
            Info
          </div>
        </a>
      </div>
    </div>

    <div class="col-sm-3">
      Second column
    </div>

    <div class="col-sm-3">
      Third column
    </div>

  </div>

</div>
