$var jsfiles: static/js/list_product.js static/js/common_util.js static/js/product_common.js


<div class="container">
  	<div class="row">

		<!-- faceted data -->
	    <div class="col-sm-3">
			<div class="panel-group">
				Faceted filtering, to be implemented.
				<div id="faceted_panel" class="panel panel-default">
					<!--TODO, for each faceted data, create a panel here-->

					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse1">Manufacturer</a>
						</h4>
						<div id="collapse1" class="panel-collapse collapse">
							<div class="panel-body">
								Panel Body
							</div>
						</div>
					</div>

				</div>
			</div>
	    </div>

		<div class="col-sm-9">
			<div class="row">
				<div class="input-group">
					<!--<div class="form-control tag-input">-->
					<div id="taglist" class="tag-input">
						<ul>

							<li>
								<span class="label label-default">
									DDR3
									<button type="button" class="close" data-dismiss="li">
										<span aria-hidden="true">&times;</span>
										<span class="sr-only">Close</span>
									</button>
								</span>
							</li>

						</ul>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-sm-5">
					<p>4 items</p>
				</div>

				<div class="col-sm-2 text-right">
					<p>Sort By:</p>
				</div>

				<div class="col-sm-4">
					<select class='form-control'>
						<option> Not Done Yet</option>
						<option> Customer Rating</option>
						<option> Price Low to High </option>
						<option> Price High to Low </option>
					</select>
				</div>
		</div>

		<div class="row">
			<div id="prod_list_col_1" class="col-sm-4">
			</div>

			<div id="prod_list_col_2" class="col-sm-4">
			</div>

			<div id="prod_list_col_3" class="col-sm-4">
			</div>
		</div>
	</div>

</div>

</div>
