<div id="container">
	<div class="row">
		<div class="col-sm-9">

	    	<div class="row">
	    		<div class="col-sm-3">
			      Picture
			    </div>
			    <div class="col-sm-6">
			      Information and Selection Tab
			    </div>
	    	</div>

	    	<div class="row">
	    		All other information
	    	</div>

	    </div>

		<div class="col-sm-3">
	      Seller and Shopping
	    </div>
	    
	</div>
</div>
<script>
function get_info_cb(data){
	info = data.data;
	// Image

	// Info

	// Specification

	// Review

	// Summary of each seller

}

window.onload = function(){
	jQuery.get('prod_info', get_info_cb, 'json');
}

</script>

